<h2>Movie Results</h2>
<%= button_to "Return to Discover Page", discover_index_path, method: :get %>

<section id="search_results">
  <% @facade.movies.each do |movie|%>
    <div id="movie-<%= movie.id %>">
      <h4><%= link_to "#{movie.title}", movie_path(movie.id)%> </h4>
      <p> Average Score: <%= movie.vote_average %> </p>
    </div>
  <% end %>
</section>